<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>AttendanceCheck.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>FD37FE182CB282BC0077365C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>FD37FE2A2CB282BD0077365C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>FD37FE342CB282BD0077365C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
